.overlay {
  color: gray;
  position: absolute;
  z-index: 2;
}

.centered {
  width: 100%;
  text-align: center;
}

.right {
  right: 0px;
}

#info {
  left: 0px;
}

#timeinfo {
  top: 25px;
}

#caseSelector {
  right: 0px;
}

#assetURL {
  width: 50%;
  opacity: 0.4;
  width: auto;
  min-width: 25%;
  max-width: 50%;
}

#assetURL:hover {
  opacity: 0.7;
}

#canvasOvr {
  border: 1px solid #000000;
}

.inputBtn {
  opacity: 0.6;
}

.inputBtn:hover {
  opacity: 0.9;
}
